In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("./merged/len3_ship_mon_Y_DN.csv",encoding="shift-jis",index_col=0)

#前処理
df.replace('-',"0",inplace=True)
df["otc_dom"].replace(",","",regex=True,inplace=True)
df["rx_dom"].replace(",","",regex=True,inplace=True)
df["stock_otc_lag"].replace(",","",regex=True,inplace=True)
df["stock_rx_lag"].replace(",","",regex=True,inplace=True)
# fillna
df["otc_dom"].fillna(0,inplace=True)
df["rx_dom"].fillna(0,inplace=True)
df["stock_otc_lag"].fillna(0,inplace=True)
df["stock_rx_lag"].fillna(0,inplace=True)
df["otc_dom"]=df["otc_dom"].astype(int)
df["rx_dom"]=df["rx_dom"].astype(int)
df["stock_otc_lag"]=df["stock_otc_lag"].astype(int)
df["stock_rx_lag"]=df["stock_rx_lag"].astype(float)
df=df.loc[df["otc_dom"]>0]
df=df.loc[df["rx_dom"]>0]
df=df.loc[df["stock_otc_lag"]>0]
df=df.loc[df["stock_rx_lag"]>0]
df=df.loc[df["generic_share_q"]>0]
df[["rx_dom","otc_dom","self_dom"]].describe()

             rx_dom       otc_dom  self_dom
count  2.752000e+03  2.752000e+03    2752.0
mean   1.378616e+07  1.311866e+06       0.0
std    1.450122e+07  2.333219e+06       0.0
min    2.983500e+04  1.200000e+01       0.0
25%    1.805011e+06  2.771450e+04       0.0
50%    1.199820e+07  2.485425e+05       0.0
75%    1.981822e+07  1.183112e+06       0.0
max    1.121442e+08  2.966552e+07       0.0

In [3]:
df.loc[df["self_dom"]>0]["self_dom"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: self_dom, dtype: float64

In [4]:
df=pd.read_csv("./merged/len3_ship_DN.csv",encoding="shift-jis",index_col=0)
#前処理
df.replace('-',"0",inplace=True)
df["otc_dom"].replace(",","",regex=True,inplace=True)
df["rx_dom"].replace(",","",regex=True,inplace=True)
df["stock_otc_lag"].replace(",","",regex=True,inplace=True)
df["stock_rx_lag"].replace(",","",regex=True,inplace=True)
# fillna
df["otc_dom"].fillna(0,inplace=True)
df["rx_dom"].fillna(0,inplace=True)
df["stock_otc_lag"].fillna(0,inplace=True)
df["stock_rx_lag"].fillna(0,inplace=True)
df["otc_dom"]=df["otc_dom"].astype(int)
df["rx_dom"]=df["rx_dom"].astype(int)
df["stock_otc_lag"]=df["stock_otc_lag"].astype(int)
df["stock_rx_lag"]=df["stock_rx_lag"].astype(float)
df=df.loc[df["otc_dom"]>0]
df=df.loc[df["rx_dom"]>0]
df=df.loc[df["stock_otc_lag"]>0]
df=df.loc[df["stock_rx_lag"]>0]
df=df.loc[df["generic_share_q"]>0]
df[["rx_dom","otc_dom"]].describe()

             rx_dom       otc_dom
count  2.130000e+02  2.130000e+02
mean   1.552942e+08  1.568697e+07
std    1.484851e+08  2.595221e+07
min    8.741860e+05  1.381800e+04
25%    2.533214e+07  4.259030e+05
50%    1.530709e+08  3.270722e+06
75%    2.411454e+08  1.668112e+07
max    8.654794e+08  1.561291e+08

In [5]:
df.loc[df["self_dom"]>0]["self_dom"].describe()

count    1.120000e+02
mean     7.019668e+06
std      1.495904e+07
min      3.219600e+04
25%      1.514862e+05
50%      5.091800e+05
75%      4.529890e+06
max      1.034687e+08
Name: self_dom, dtype: float64

In [6]:
df=pd.read_csv("./merged/len4_ndb_DN.csv",encoding="shift-jis",index_col=0)

In [7]:
df.columns

Index(['year', 'id', '後発品区分', '薬効分類', '薬効分類名称', '医薬品コード', '医薬品名',
       '薬価基準収載医薬品コード', '薬価', '総計', 'in_hospital', 'oral', 'id_l4', 'Approved',
       'KEGG', 'Ingredient', 'date', 'release_year', '成分', 'variable',
       'revenue', 'elapsed', 'elapsed_m8', 'elapsed_m7', 'elapsed_m6',
       'elapsed_m5', 'elapsed_m4', 'elapsed_m3', 'elapsed_m2', 'elapsed_m1',
       'elapsed_0', 'elapsed_1', 'elapsed_2', 'elapsed_3', 'elapsed_4',
       'elapsed_5', 'elapsed_6', 'elapsed_7', 'elapsed_8', 'elapsed_9',
       'elapsed_10', 'elapsed_11', 'elapsed_12', 'elapsed_13', 'elapsed_14',
       'elapsed_15', 'elapsed_16', 'elapsed_17', 'elapsed_18', 'elapsed_19',
       'elapsed_20', 'elapsed_21', 'elapsed_22', 'elapsed_23', 'elapsed_24',
       'elapsed_25', 'elapsed_26', 'elapsed_27', 'elapsed_28', 'elapsed_29',
       'elapsed_30', 'elapsed_31', 'Year', 'generic_per', 'generic_share_q',
       'generic_share_r', 'id_1147.0', 'id_1149.0', 'id_1219.0', 'id_1231.0',
       'id_1319.0', 'id_1324.0', 'id_1329.0', 'id_2189.0', 'id_2239.0',
       'id_2259.0', 'id_2290.0', 'id_2319.0', 'id_2325.0', 'id_2329.0',
       'id_2399.0', 'id_2454.0', 'id_2459.0', 'id_2529.0', 'id_2590.0',
       'id_2646.0', 'id_2649.0', 'id_2655.0', 'id_2659.0', 'id_3327.0',
       'id_3399.0', 'id_3992.0', 'id_3999.0', 'id_4413.0', 'id_4490.0',
       'id_6250.0', 'id_6290.0', 'id_7990.0'],
      dtype='object')

In [8]:
df=df.loc[df["year"]>2014]
df["mean_price"]=df["revenue"]/df["総計"]
df[["総計","mean_price"]].describe()

                 総計   mean_price
count  4.360000e+02   436.000000
mean   3.174177e+09   143.317480
std    6.870684e+09   392.741619
min    3.605813e+05     5.400000
25%    6.806452e+07    10.835614
50%    2.786511e+08    25.557643
75%    2.421159e+09    97.697571
max    3.766192e+10  2899.505261

In [9]:
df=pd.read_csv("./merged/len3_ndb_blp_DN_firm_FC.csv",encoding="utf-8-sig",index_col=0)
df=df.loc[df["総計"]>0]
df.columns

C:\Users\hakos\AppData\Local\Temp\ipykernel_10516\2847407326.py:1: DtypeWarning: Columns (118) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("./merged/len3_ndb_blp_DN_firm_FC.csv",encoding="utf-8-sig",index_col=0)

Index(['薬効分類', '薬効分類名称', '医薬品コード', '医薬品名', '薬価基準収載医薬品コード', '薬価', 'generic',
       '総計', 'year', 'in_hospital',
       ...
       'b', 'c', 'd', '_merge', 'wholesale_price', 'markup', 'oral_per',
       'brand', 'Pharmacopoeia', 'otc'],
      dtype='object', length=136)

In [10]:
df=df.loc[df["year"]>2014]
df["薬価"]=df["薬価"].astype(float)
df[["総計","薬価"]].describe()

                 総計            薬価
count  2.467300e+04  24673.000000
mean   1.333124e+07    357.346671
std    4.526902e+07   2079.828181
min    7.012987e+02      0.660000
25%    3.518760e+05     12.200000
50%    2.266922e+06     31.400000
75%    9.503580e+06    110.400000
max    9.541906e+08  80171.300000