In [35]:
import pandas as pd
import numpy as np

In [36]:
df=pd.read_csv("./merged/len3_ship_mon_Y_DN.csv",encoding="shift-jis",index_col=0)

#前処理
df.replace('-',"0",inplace=True)
df["otc_dom"].replace(",","",regex=True,inplace=True)
df["rx_dom"].replace(",","",regex=True,inplace=True)
df["stock_otc_lag"].replace(",","",regex=True,inplace=True)
df["stock_rx_lag"].replace(",","",regex=True,inplace=True)
# fillna
df["otc_dom"].fillna(0,inplace=True)
df["rx_dom"].fillna(0,inplace=True)
df["stock_otc_lag"].fillna(0,inplace=True)
df["stock_rx_lag"].fillna(0,inplace=True)
df["otc_dom"]=df["otc_dom"].astype(int)
df["rx_dom"]=df["rx_dom"].astype(int)
df["stock_otc_lag"]=df["stock_otc_lag"].astype(int)
df["stock_rx_lag"]=df["stock_rx_lag"].astype(float)
df=df.loc[df["otc_dom"]>0]
df=df.loc[df["rx_dom"]>0]
df=df.loc[df["stock_otc_lag"]>0]
df=df.loc[df["stock_rx_lag"]>0]
df=df.loc[df["generic_share_q"]>0]
df[["rx_dom","otc_dom","self_dom"]].describe()

             rx_dom       otc_dom  self_dom
count  2.752000e+03  2.752000e+03    2752.0
mean   1.378616e+07  1.311866e+06       0.0
std    1.450122e+07  2.333219e+06       0.0
min    2.983500e+04  1.200000e+01       0.0
25%    1.805011e+06  2.771450e+04       0.0
50%    1.199820e+07  2.485425e+05       0.0
75%    1.981822e+07  1.183112e+06       0.0
max    1.121442e+08  2.966552e+07       0.0

In [37]:
df.loc[df["self_dom"]>0]["self_dom"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: self_dom, dtype: float64

In [38]:
df=pd.read_csv("./merged/len3_ship_DN.csv",encoding="shift-jis",index_col=0)
#前処理
df.replace('-',"0",inplace=True)
df["otc_dom"].replace(",","",regex=True,inplace=True)
df["rx_dom"].replace(",","",regex=True,inplace=True)
df["stock_otc_lag"].replace(",","",regex=True,inplace=True)
df["stock_rx_lag"].replace(",","",regex=True,inplace=True)
# fillna
df["otc_dom"].fillna(0,inplace=True)
df["rx_dom"].fillna(0,inplace=True)
df["stock_otc_lag"].fillna(0,inplace=True)
df["stock_rx_lag"].fillna(0,inplace=True)
df["otc_dom"]=df["otc_dom"].astype(int)
df["rx_dom"]=df["rx_dom"].astype(int)
df["stock_otc_lag"]=df["stock_otc_lag"].astype(int)
df["stock_rx_lag"]=df["stock_rx_lag"].astype(float)
df=df.loc[df["otc_dom"]>0]
df=df.loc[df["rx_dom"]>0]
df=df.loc[df["stock_otc_lag"]>0]
df=df.loc[df["stock_rx_lag"]>0]
df=df.loc[df["generic_share_q"]>0]
df[["rx_dom","otc_dom"]]=df[["rx_dom","otc_dom"]]/1000
df[["rx_dom","otc_dom"]].describe()

              rx_dom        otc_dom
count     213.000000     213.000000
mean   155294.183038   15686.969629
std    148485.076014   25952.206332
min       874.186000      13.818000
25%     25332.135000     425.903000
50%    153070.881000    3270.722000
75%    241145.381000   16681.115000
max    865479.417000  156129.120000

In [39]:
len(set(df["id"]))

18

In [40]:
df.loc[df["self_dom"]>0]["self_dom"].describe()

count    1.120000e+02
mean     7.019668e+06
std      1.495904e+07
min      3.219600e+04
25%      1.514862e+05
50%      5.091800e+05
75%      4.529890e+06
max      1.034687e+08
Name: self_dom, dtype: float64

In [41]:
df=pd.read_csv("./merged/len4_ndb_DN.csv",encoding="shift-jis",index_col=0)

In [42]:
df.columns
len(set(df["id"]))

32

In [43]:
df=df.loc[df["year"]>2014]
df["mean_price"]=df["revenue"]/df["総計"]
df[["総計","mean_price"]].describe()

                 総計   mean_price
count  4.360000e+02   436.000000
mean   3.174177e+09   143.317480
std    6.870684e+09   392.741619
min    3.605813e+05     5.400000
25%    6.806452e+07    10.835614
50%    2.786511e+08    25.557643
75%    2.421159e+09    97.697571
max    3.766192e+10  2899.505261

In [44]:
df=pd.read_csv("./merged/len3_ndb_blp_DN_firm_FC.csv",encoding="utf-8-sig",index_col=0)
df=df.loc[df["総計"]>0]
df.columns

C:\Users\hakos\AppData\Local\Temp\ipykernel_21152\2847407326.py:1: DtypeWarning: Columns (118) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("./merged/len3_ndb_blp_DN_firm_FC.csv",encoding="utf-8-sig",index_col=0)

Index(['薬効分類', '薬効分類名称', '医薬品コード', '医薬品名', '薬価基準収載医薬品コード', '薬価', 'generic',
       '総計', 'year', 'in_hospital',
       ...
       'b', 'c', 'd', '_merge', 'wholesale_price', 'markup', 'oral_per',
       'brand', 'Pharmacopoeia', 'otc'],
      dtype='object', length=136)

In [45]:
df=df.loc[df["year"]>2014]
df["薬価"]=df["薬価"].astype(float)
df["総計"]=df["総計"].astype(float)/1e6
df[["総計","薬価"]].describe()

                 総計            薬価
count  24673.000000  24673.000000
mean      13.331239    357.346671
std       45.269019   2079.828181
min        0.000701      0.660000
25%        0.351876     12.200000
50%        2.266922     31.400000
75%        9.503580    110.400000
max      954.190571  80171.300000